* {
    margin:0;
    padding:0;
    overflow-x: hidden;
}


:root {
    --navbar-height: 59px;
}
.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 33%;
    border: 2px solid white;
    border-radius: 50px;
}


#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background {
    background-blend-mode: darken;
    background-size: cover;
    background-image: url("https://paradelle.files.wordpress.com/2015/09/star-fall.gif");


}

.firstsection {
    height: 60vh;
    overflow: hidden;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 100%;

    height: auto;
    padding: 5%;
    flex-direction: column;
}

.firstHalf {
    width: 75%;
    display: flex;
    flex-direction: column; 
    justify-content: center
}

.firstHalf img {
    display: flex;
    border-radius: 9050px;
}

.text-big {
    overflow: hidden;
    font-family: 'Sofia', sans-serif;
    font-weight: bold;
    font-size: 61px;
    text-align: center;


}

.text-small {
    font-family: 'Arial', cursive;
    font-size: 18px;
    text-align: center;
    overflow: hidden;
}

/* #service {
    margin: 34px;
    display: flex;
}

#service .box {
    padding: 100px;
    margin: 3px 6px;
    border-radius: 28px;
}

#service .box img {

}

#service .box p {

    font-family: sans-serif;
    text-align: center;
} */

#services {
    margin: 34px;
    display: flex;
}

#services .box {
    width: 25%;
    margin: 3px 6px;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
}

#services .box img {
    justify-content: center;
    width: 60%;
    margin-top: 10px;
    height: 60%;
    margin: auto;
    /* display: block; */
    border-radius: 50px;
}

#services .box p {
    width: 100%;
    height: 15%;
    font-family: sans-serif;
    text-align: center;
}
#service {
    box-shadow: 0 0 9px white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.btn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
}

.center {
    text-align: center;
    width: 100%;
    height: 50%;
}

.text-footer {
    text-align: center;
    padding: 10px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 650px) {
.column {
width: 100%;
display: block;
}
}



/* CSS */
.button-87 {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(122.3deg, rgb(111, 71, 133) 14.6%, rgb(232, 129, 166) 29.6%, rgb(237, 237, 183) 42.1%, rgb(244, 166, 215) 56.7%, rgb(154, 219, 232) 68.7%, rgb(238, 226, 159) 84.8%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

