* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.header-area {
    height: 6%;
    background: rgb(0 127 255);
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
    color: white;
    padding: 4px;
}

.message-area {
    height: 80%;
    padding: 3px;
    overflow: auto;
}

.typing-area {
    margin-top: 4px;
    padding: 4px;
    height: 8%;
}

.typing-box {
    width: 90%;
    height: 100%;
    resize: none;
    padding: 3px;
}

.send-button {
    border: 0;
    width: 9%;
    background: rgb(0 127 255);
    color: white;
    padding: 8px;
    font-size: 18px;
    position: absolute;
    margin: 8px;
}

.message-box {
    margin-top: 10px;
}

/* .others-message-box {
} */

.my-message-box {
    text-align: right;
    background: white;
}

.message {
    max-width: 70%;
    border-radius: 5%;
    padding: 5px;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
}

.my-message {
    float: right;
    background: rgb(0 127 255);
    color: white;
}

.others-message {
    float: left;
    background: white;
}

.separator {
    width: 100%;
    height: 8px;
    float: left;
}