/*Nav bar */
.navigation {
    background: linear-gradient(rgb(21, 13, 107) 1.1%, rgb(188, 16, 80) 130.5%);
    padding: 10px;
    border-bottom-left-radius:25px;
    border-bottom-right-radius: 25px;
    background-color: rgb(46, 46, 46);
    border-color: rgb(194, 192, 194);
    border-bottom-style:groove;
    box-shadow: 0 0 8px white;
    
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
}

.nav-link {
    font-size: 25px !important;
    margin: 3px;
    color: #f9ecea !important;
    font-weight: 300 !important;
    font-family: "Sofia", sans-serif;
}
.nav-link:hover {
    font-weight: 500;
    border-radius: 15%;
    background-color: rgba(221, 173, 173, 0.616);
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
@media only screen and (max-width: 650px) {
    .navbar {
        flex-direction: column;
    }
    .nav-link {
        flex-direction: column;
        font-size: 20px !important;
    }
  }

/*Nav bar */